[project]
	description = Quiz app using dvajs
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Adhithya Rajagopalan (xadhix)
[access "refs/for/refs/*"]
	read = group user/Adhithya Rajagopalan (xadhix)
	push = group user/Adhithya Rajagopalan (xadhix)
	label-Code-Review = -2..+2 group user/Adhithya Rajagopalan (xadhix)
	label-Verified = -1..+1 group user/Adhithya Rajagopalan (xadhix)
	rebase = group user/Adhithya Rajagopalan (xadhix)
	removeReviewer = group user/Adhithya Rajagopalan (xadhix)
	submit = group user/Adhithya Rajagopalan (xadhix)
[access "refs/heads/*"]
	read = group user/Adhithya Rajagopalan (xadhix)
	create = group user/Adhithya Rajagopalan (xadhix)
	push = +force group user/Adhithya Rajagopalan (xadhix)
	pushMerge = group user/Adhithya Rajagopalan (xadhix)
[access "refs/tags/*"]
	push = group user/Adhithya Rajagopalan (xadhix)
	push = +force group user/Adhithya Rajagopalan (xadhix)
